
<form action="/login" method="post" style="max-width: 500px; margin: auto">

<h1 class="introTitle">Login</h1>


<div class="mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput"></label>
</div>
<div class="mb-3">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword"></label>
</div>

<button type="submit" class="btn btn-primary">Login</button>

</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}