<form action="/signup" method="post" style="max-width: 500px; margin: auto">

<h1>Signup</h1>


<div class="form-floating mb-3 mx-auto">
  <input type="username" name="username" class="form-control" id="floatingPassword" placeholder="*********">
  <label for="floatingInput">Username</label>
</div>
<div class="form-floating mb-3 mx-auto">
  <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating mx-auto">
  <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>

<br>

<button type="submit" class="btn btn-primary">Signup</button>

</form> 


{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
