<h2>Signup</h2>

<form action="/signup" method="post">
<label>
    Username
    <input type="text" name="username" placeholder="username">
</label>

<label>
    Email 
    <input type="email" name="email" placeholder="you@ironhack.com">
</label>

<label>
    Password
    <input type="password" name="password" placeholder="*********">
</label>


<select class="form-select" aria-label="Default select example" name="role">
  <option selected>Select your role</option>
  <option value="barOwner">Bar Owner</option>
  <option value="client">Client</option>
</select>
{{!<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Select your role
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>}}

<button type="submit">Signup</button>

</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
