body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://res.cloudinary.com/duy4rj4hd/image/upload/v1671274731/website-background-23_a3oqdq.jpg');
<<<<<<< HEAD
=======
  background-size: cover;
>>>>>>> ef2813c75670287adf12e9760ff2f56055593b03
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
  
}

<<<<<<< HEAD
.card {
  margin: 1%;
}





=======
>>>>>>> ef2813c75670287adf12e9760ff2f56055593b03
