{{#each filteredDentinhos}}
<h1 class="centered barList">Bars with: {{this.name}}</h1>
  <div class="row row-cols-4">
    {{#each this.bar}}
    <div class="card text-center" style="width: 300px;">
      <img src="{{picture_url}}" class="card-img-top cardImage">
      <div class="card-body">
      <p class="card-title">{{name}}</p>
      <a href="/bars/{{_id}}" class="btn btn-primary centered">See details</a>
      </div>
      </div>
    {{/each}}
  </div>
{{/each}}
