<div class="card mb-3">
  <img src="https://res.cloudinary.com/duy4rj4hd/image/upload/v1671239587/home_foto_a9jstv.jpg" class="card-img-top addDentinhoImage" alt="pubImg">
  <div class="card-body">
    <h4 class="card-title-create">Add a new Dentinho</h4>
    <form class="dentinho-create-form" action="/dentinhos/create" method="post" enctype="multipart/form-data">
    
    <div class="create-labels">
    <label for="validationDefault01" class="form-label">Name</label>
    <input type="text" name="name" class="form-control" id="validationDefault01" required>
  </div>

  <div class="create-labels">
    <label for="validationDefault01" class="form-label">Picture</label>
    <input type="file" class="form-control" id="validationDefault01" name="picture_url" required>
  </div>


<div class="create-btn">
    <button class="btn btn-primary" type="submit">Create Dentinho!</button>
</div>
</form>
</div>
</div>