<h1 class="dentinhos">Dentinhos:</h1>


<div class="container">
  <div class="row row-cols-1 row-cols-md-6 g-4">
      {{#each dentinho}}
    <div class="card" style="width: 18rem;">
      <img src="{{picture_url}}" class="card-img-top">
      <div class="card-body">
        <h4 class="card-text">{{name}}</h4>
      </div>
    </div>
      {{/each}}
  </div>
  </div>
