<div class="card-create">
  <div class="card-createBody">

<img class="CreatecardImage" src="https://res.cloudinary.com/duy4rj4hd/image/upload/v1669757241/Dentolas/Bar_das_Romeiras_rafu2m.png" alt="Dentinho image">

<div class="createContainer">
<h4>Create a new Dentinho</h4>


<form class="createForms" action="/dentinhos/create" method="post">
  <div class="create-labels">
    <label for="validationDefault01" class="form-label">Name</label>
    <input type="text" name="name" class="form-control" id="validationDefault01" required>
  </div>


  <div class="create-labels">
    <label for="validationDefault01" class="form-label">Picture</label>
    <input type="text" class="form-control" id="validationDefault01" name="picture_url" required>
  </div>

  <div class="create-btn">
    <button class="btn btn-primary" type="submit">Create Dentinho!</button>
  </div>

</form>
</div>
</div>
</div>