{{#each filteredDentinhos}}
  <h1>Bars with: {{this.name}}</h1>
    {{#each this.bar}}
      <p>{{name}}</p>
      <img src="{{picture_url}}">
      <a href="/bars/{{_id}}">See details</a>
    {{/each}}
{{/each}}


