<div class="container">
  <form action="/dentinho-search" method="get">

    <div class="col-auto input-group bm-3 searchs">
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" name="dentinhoName" placeholder="Search for dentinho, to see the list of bars with it" aria-label="Search">
      <button class="input-group-text searchBtn" id="basic-addon2" type="submit">Search</button>
    </form>
    </div>
  </form>
  <div class="row row-cols-1 row-cols-md-6 g-4" id="dentinho-div">
      {{#each dentinho}}
    <div class="card glass" style="width: 18rem; padding: 0" >
      <img src="{{picture_url}}" class="card-img-top" style="Height: 15rem">
      <div class="card-body glass">
        <h4 class="card-text">{{name}}</h4>
        <a href="/dentinho-search?dentinhoName={{name}}" class="btn btn-primary">See bars</a>
      </div>
    </div>
      {{/each}}
  </div>
</div>
