<div class="container">
  <form action="/dentinho-search" method="get">

    <div class="col-auto">
      <label class="labels" style="color:black; font-size: large;">
      Find bars that serve your favourite dentinho:
      <input type="text" name="dentinhoName" class="searchInput"/>
      <button type="submit" class="btn btn-primary mb-3 searchButton">Search for dentinho</button>
      </label>
    </div>
  </form>
  <div class="row row-cols-1 row-cols-md-6 g-4" id="dentinho-div">
      {{#each dentinho}}
    <div class="card glass" style="width: 18rem; padding: 0" >
      <img src="{{picture_url}}" class="card-img-top" style="Height: 15rem">
      <div class="card-body glass">
        <h4 class="card-text">{{name}}</h4>
      </div>
    </div>
      {{/each}}
  </div>
</div>
