<h1 class="create">Add a new bar</h1>

<form action="/bars/create" method="post" enctype="multipart/form-data">

<div class="col-md-4">
    <label for="validationDefault01" class="form-label">Name</label>
    <input
      type="text"
      name="name"
      class="form-control"
      id="validationDefault01"
      required
    />
</div>

<div class="col-md-4">
    <label for="validationDefault01" class="form-label">Opening Hours</label>
    <input
      type="text"
      name="opening-hours"
      class="form-control"
      id="validationDefault01"
      required
    />
</div>

<div class="col-md-4">
    <label for="validationDefault01" class="form-label">Address</label>
    <input
      type="text"
      name="address"
      class="form-control"
      id="validationDefault01"
      required
    />
</div>

<div class="col-md-4">
    <label for="validationDefault01" class="form-label">Picture</label>
    <input
      type="file"
      class="form-control"
      id="validationDefault01"
      name="picture_url"
      required
    />
</div>

<p class="form-label">Dentinhos available:</p>

<ul class="list-group">
  {{#each dentinho}} 
  <li class="list-group-item">
    <input class="form-check-input me-1" type="checkbox" value="{{_id}}" id="firstCheckbox">
    <label class="form-check-label dentinhoBox" for="firstCheckbox">{{name}}</label>
  </li>
  {{/each}}

  
<div class="col-12 createButton">
    <button class="btn btn-primary" type="submit">Create</button>
</div>



      
