<h2>List of all Bars</h2>

{{#each bars}}
<div>
    <p>Name:{{name}}</p>
    <p>Dentinho: {{dentinho}}</p>

    <img src="{{picture_url}}" alt="">
    <a href="/bars/{{_id}}">See details</a>
</div>
{{/each}}

