<h1>Add a new bar</h1>

<form action="/dentinhos/create" method="post" enctype="multipart/form-data">
    <label>
        Name
        <input type="text" name="name">
    </label>

    <label>
        Opening Hours
        <input type="text" name="opening-hours">
    </label>

    <label>
        Address
        <input type="text" name="address">
    </label>

    <label>
        Rating
        <input type="number" name="rating" min="0" max="10">
    </label>

    <label>
        Picture
       <input type="file" name="picture_url">
    </label>


{{#each dentinho}}
    <label>
        <p>banana</p>
        <input type="checkbox" value="{{name}}">
        <img src="{{picture_url}}" />
        
        <input type="checkbox" value="Tremoços">
    </label>
{{/each}}
</form>



      
